/* http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ */
/* http://www.degraeve.com/color-palette/index.php?q=http://enchantingartwork.com/2009_landscapes/pleasant_countenance_copyright.jpg,0F22155CA04D6ABBACD4EBE187C36B,06371765DF4B82ECD9FFFFFFA8F584 */
/* http://www.colorsontheweb.com/colorwizard.asp : base #cceedd */

body {
	font-family:Helvetica,Arial,Sans-serif;
	margin:15px;
	padding:0;
	background:#cceedd;
	background: #EEEECC;
}

#wrap {
	width: 1000px;
	margin:0 auto;
	background:#dddddd;
	background:#cceedd;
	box-shadow: 2px 2px 20px #888888;
	border: 1px solid;
}

#header {
	font-size: 30pt;
	padding: 10px;
	font-weight: bold;
	background:#eeeeee;
}

#nav {
	background:#c0c0c0;
	background: #DDDDDD;
	height: 40px;
	width: 1000px;
	border-top: 1px dashed #888888;
	border-bottom: 1px dashed #888888;
	font-weight:bold;
}

#nav ul {
	float:right;
	margin:5px;
	padding:5px;
	list-style:none;
}

#nav li {
	display:inline;
	margin:0;
	padding:0 5px;
}

#nav a {
	text-decoration:none;
	color: #112211;
}

#nav a:hover {
	color: #667766;
}

#nav .arrowicon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	/* Arrow is at (4,12) in the image = (-64px, -16px) (origin is top left) */
	background-image: url(img/imgblack.png);
	background-position: -64px -16px; 
	/* For active mode:
	background-image: url(img/imggray.png);
	background-position: -0px -16px; 
	 */
}

/* Category sidebar */
#sidebar {
	float:left;
	width:150px;
	background:#cceedd;
	background: #cceedd;
	padding:4px;
}

#sidebar a {
	display: block;
	text-decoration:none;
	color: #112211;
	width: 195px;
	padding-left: 10px;
	font-size: 13pt;
}

#sidebar .current {
	background: #cceebb;
	margin-left: -4px;
	background: #EEEECC;
	font-weight: bold;
}

#sidebar a:hover {
	color: #667766;
	background: #eeeeee;
}

#sidebar a:active {
	background: #000000;
}

/* Main content-box */
#main {
	float:right;
	width:771px;
	background: #d6e3dd;
	border-left: 1px dashed #888888;
	padding:0px 15px;
}

/* Category name */
#main .catname {
	padding-top: 20px;
	font-size: 24pt;
	font-weight: bold;
	float: left;
}

/* Category description */
#main .catdesc {
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
	opacity: 0.2;
	padding-top: 20px;
	margin-top: 8px;
	float: right;
}

/* For pages without sidebar */
#overridecontent {
	margin: 20px;
}

#clear {
	clear:both;
}

#footer {
	clear:both;
	background:#00eecc;
	background:#c0c0c0;
	background: #DDDDDD;
	border-top: 1px dashed #888888;
	padding:3px 10px;
	font-weight:bold;
	font-size:11pt;
	text-align:right;
}

/* Ajax basket-preview box */
#shoppingbasket {
	position:absolute;
	width:200px;
	background:#ddeeff;
	background:#EEEECC;
	border:1px solid;
	border-radius:5px;
	display:none;
	padding:5px;
	z-index: 2; /* Otherwise the shopping basket will be placed under the category-description div */
}

/* /basket and /ajax/basket: */
#basket {
	border-collapse: collapse;
	width: 50%;
}
#basket td {
	border: 1px solid green;
	padding-left: 3px;
}

#basket tr {
	background-color: #eeeecc;
}

#basket tr.odd {
	background-color: #eeeeee;
}

#basket tr.even {
	background-color: #dddddd;
}
#minibasket {
	border-collapse: collapse;
	width: 100%;
}
#minibasket td {
	border: 1px dashed #dedede;
	padding-left: 5px;
}
/* TODO: The tables above somehow break the login.html tables */

#errorbox {
	border: 2px dashed red;
	border-radius: 5px;
	padding: 0px 10px;
	display: inline-block;
	background-color: hsla(120,65%,75%,0.3);
}

/* Animated buy-product box */
.ui-effects-transfer {
	border:1px dashed;
}

#product_list {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0px;
}

#product_list tr {
	height: 60px;
}

#product_list img {
	height: 50px;
}

#product_list a {
	font-weight: bold;
	text-decoration: none;
}

.prodrow_odd {
	background-color: #d6e3dd;
}
.prodrow_even {
	background-color: #e7f1ec;
}

img.productimg {
	margin-top: 25px;
	margin-right: 25px;
	max-height: 275px;
	max-width: 275px;
	float: right;
}

.productdescription {
	margin-top: 35px;
	margin-right: 325px;
}

.productpurchase {
	margin-right: 50px;
	float: right;
	display: inline-block;
}

.buyproduct {
	float: right;
}
.productrating {
	display: inline-block;
	/* TODO: Make me */
}

.commentsection > #comment {
	width: 100%;
}

#comment {
	margin-left: -14px;
	display: inline-block;
	/* padding-left: 15px; */
}

#comment > #comment_user {
	float: left;
	display: inline-block;
	font-weight: bold;
}

#comment > #comment_timestamp {
	float: right;
	margin-right: 10px;
	display: inline-block;
	font-style: italic;
}

#comment > #comment_content {
	margin-left: 10px;
}

#comment > .commentreply {
	float: right;
	margin-right: 20px;
	font-size: 8pt;
	text-decoration: none;
}

#comment > .commentreply a {
	color: #111111;
	text-decoration: none;
}

#comment > .commentreply a:hover {
	text-decoration: underline;
}
.comment_odd {
	background-color: #e4eae4;
}

.comment_even {
	background-color: #d6e3dd;
	background-color: #cfdcd6;
}

hr {
	width: 100%;
	border: 0px;
	height: 1px;
	background: black;
}

.commenttitle {
	font-size: 18pt;
	font-weight: bold;
	float: left;
	display: inline-block;
	margin-bottom: 10px;
}
.addcomment {
	float: right;
	display: inline-block;
}

.newcomment {
	display: none;
	margin-top: 50px;
	width: 100%;
}

.replytobox {
	display: none;
	background: #d6e3dd;
	position: absolute;
	border: 1px solid black;
}

#comment_content pre {
	margin-top: 0px;
	font-family:Helvetica,Arial,Sans-serif;
	font-size: 12pt;
}

.cluetip-close {
	display: none;
	width: 0px;
	height: 0px;
}

#ajax_clearbasket {
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	float: right;
}

.cluetip-baskethover {
	background: #eeeeee;
	border-radius: 5px;
}
.cluetip-baskethover .ui-cluetip-header  {
	background-color: #dddddd;
	height: 10px;
	padding-top: 5px;
	text-align: center;
}

#orderhistory {
		width: 75%;
		border-collapse: collapse;
		margin-bottom: 15px;
}

#orderhistory #oh_header {
	background-color: #EEC;
	text-align: center;
	font-size: 14pt;
}
#orderhistory td {
		border: 1px solid gray;
		padding-left: 5px;
		background-color: #eee;
}
