{% extends 'base.html' %}

{% block overridecontent %}
<!-- Override #wrap background color to match #main -->
<style type="text/css">
#wrap {
	background: #D6E3DD;
}
</style>

<div id="overridecontent">
<h1>Account settings</h1>
<h2>Your information</h2>
<table>
	<tr>
		<td> <strong> Name: </strong> </td>
		<td> {{ user.first_name }} {{ user.last_name }} </td>
	</tr>
	<tr>
		<td> <strong> E-mail: </strong> </td>
		<td> {{ user.email }} </td>
	</tr>
	<tr>
		<td> <strong> Phone number: </strong> </td>
		<td> {{ cust.phone_number }} </td>
	</tr>
	<tr>
		<td> <strong> Address: </strong> </td>
		<td> {{ cust.address|linebreaksbr }} </td>
	</tr>
</table>
<a href="/account/edit">Change this information</a>

<h2>Order history</h2>
{% if orders %}
	{% for order in orders %}
<table id="orderhistory">
	<tr><td colspan="3" id="ordersep"></td></tr>
	<tr>
		<td colspan="3" id="oh_header"> <strong>Order placed  <i>{{ order.basket.date_placed|date:"Y-m-d H:i" }} </i></strong> </td>
	</tr>
	<tr>
		<td colspan="3"><strong>Order reference number:</strong> {{ order.basket.pk }}</td>
	</tr>
	<tr>
		<td colspan="3"><strong>Ordered items:</strong></td>
	</tr>
	<tr>
		<td style="width: 100px;"></td>
		<td style="width: 120px;"> <i>Quantity</i> </td>
		<td> <i>Name</i> </td>
	</tr>
	{% for item in order.items %}
		<tr>
			<td></td>
			<td>{{ item.count }}</td>
			<td>{{ item.asset.name|capfirst }}</td>
		</td>
	{% endfor %}
	<tr>
		<td> <strong>Sum:</strong> </td>
		<td colspan="2"> <i>{{ order.total }}</i> kr</td>
	</tr>
	<tr>
		<td><strong>Shipped:</strong></td>
		<td colspan="2">
			{% if order.basket.date_filled %} 
				{{ order.basket.date_filled|date:"Y-m-d H:i" }}
			{% else %}
				Not shipped yet
			{% endif %}
		</td>
	</tr>
	</table>
	{% endfor %}
{% endif %}


</div> <!-- overridecontent -->
{% endblock %}
