{% extends 'base.html' %}

{% block overridecontent %}
<!-- Override #wrap background color to match #main -->
<style type="text/css">
#wrap {
	background: #D6E3DD;
}
</style>

<div id="overridecontent">
<h1>Account settings</h1>
<h2>Your information</h2>
<p><strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}</p>
<p><strong>E-Mail: </strong> {{ user.email }}</p>
<p><strong>Phone number: </strong> {{ cust.phone_number }}</p>
<p><strong>Address: </strong><br /> {{ cust.address|linebreaksbr }}</p>

<h2>Order history</h2>
{% if orders %}
	<ul>
	{% for order in orders %}
		<li> <strong> Order placed: </strong> {{ order.basket.date_placed|date:"Y-m-d H:i" }} </li>
		<strong>Items:</strong>
		<ul>
			{% for item in order.items %}
			<li>{{ item.count }} x {{ item.asset.name|capfirst }}</li>
			{% endfor %}
		</ul>
		<strong>Sum: </strong> <i>{{ order.total }}</i> kr
		{% if order.basket.date_filled %}
		<br/><strong>Order shipped: </strong> {{ order.basket.date_filled|date:"Y-m-d H:i" }}
		{% endif %}
	{% endfor %}
	</ul>
{% endif %}

</div> <!-- overridecontent -->
{% endblock %}
