{% extends 'base.html' %}

{% block overridecontent %}
<!-- Override #wrap background color to match #main -->
<style type="text/css">
#wrap {
	background: #D6E3DD;
}
</style>

<div id="overridecontent">
<h1>Account settings</h1>
<h2>Your information</h2>
<p><strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}</p>
<p><strong>E-Mail: </strong> {{ user.email }}</p>
<p><strong>Phone number: </strong> {{ cust.phone_number }}</p>
<p><strong>Address: </strong><br /> {{ cust.address|linebreaksbr }}</p>

<h2>Order history</h2>
<p>Lorem ipsum</p>

</div>
{% endblock %}
