<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Amazing Webshop</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script src="/static/lib/jquery.min.js"></script>
<script src="/static/lib/jquery-ui.min.js"></script>
<script src="/static/lib/jquery.ui.position.min.js"></script> <!-- http://docs.jquery.com/UI/API/1.8/Position -->
<script src="/static/lib/jquery.hoverIntent.minified.js"></script> <!-- http://cherne.net/brian/resources/jquery.hoverIntent.html -->
<script src="/static/lib/jquery.cluetip.js"></script> <!-- https://github.com/kswedberg/jquery-cluetip -->
<script>	
	function showBasket() {
		$("#shoppingbasket").load('/ajax/basket');
		$("#shoppingbasket").slideToggle();
		$("#shoppingbasket").position({
			my: "right top",
			at: "right bottom",
			of: "a#basket",
			collision: "none",
			offset: "0 5"
		});
	}

	function hideBasket() {
		// Do nothing, mouseOver again instead to hide.
		// This is because you want to be able to interact with the basket.
		// TODO: Make the basket-popup a child?
		// 		 Or make it a click-to-toggle type of thing with an arrow-icon next to the basket-link
	}

	var shopping_hover_conf = {
		over: showBasket,
		timeout: 500,
		out: hideBasket
	};

	$(document).ready(function(){
		// $("#basket").hoverIntent(shopping_hover_conf);

		$("#basket").cluetip({
			showTitle: true,
			positionBy: 'bottomTop',
			hoverIntent: false,
			sticky: true,
			mouseOutClose: true,
			cluetipClass: 'baskethover',
			closeText: 'x',
			hideLocal: true,

			fx: {
				open:       'fadeIn', // can be 'show' or 'slideDown' or 'fadeIn'
				openSpeed:  '250'
			},
		});
		{% block js_docready %}{% endblock %}

	});
</script>
<link rel="stylesheet" type="text/css" href="/static/jquery.cluetip.css" />
</head>

<body>
<div id=wrap>
<div id="header">The Amazing Webshop</div>
	
<div id="nav">
	<ul>
		<!-- TODO: Make these linkable divs, like the sidebar, so that everything fits better and so that basket-hover is more natural -->
		<li><a href="/">Home</a></li>
		{% if user.is_authenticated %}
			<li ><a id="basket" href="/basket" rel="/ajax/basket" title="Basket">Shopping Basket</a><span class="arrowicon" style="display:inline-block;"></span></li> <!-- Or nothing -->
			<li><a href="/account">My Account</a></li>
			<li><a href="/account/logout">Log out</a></li>
		{% else %}
			<li><a href="/account/create">Create Account</a></li>
			<li><a href="/account/login">Log in</a></li>
		{% endif %}
	</ul>
</div> <!-- nav -->

<div id="shoppingbasket">
	<i>Loading basket ...</i>
</div> <!-- shoppingbasket -->

{% block overridecontent %}
<div id="sidebar">
	<h2>Categories</h2>
	{% for category in categories %}
	<a {% if category.current %}class="current"{% endif %} href="/category/{{category.name}}">{{ category.name|capfirst }}</a>
	{% endfor %}
</div> <!-- sidebar -->

<div id="main">
	{% block main %}{% endblock %}
</div> <!-- main -->
{% endblock %}

<div id="footer">
	{% if user.is_authenticated %} Blipp blopp ({{user.username}}){% else %} Blopp blipp {% endif %}
</div> <! -- footer -->
</div> <!-- wrap -->

</body>
</html>
