{% extends 'base.html' %}
{% load static %}

{% block js_docready %}
$(".buyproduct").click( function() {
$.get("/ajax/addproduct/" + this.id, function(data) {
		// TODO: Check for "OK"
	});
	$("#prodrow" + this.id).effect("transfer", {to: $(".arrowicon")}, 750);

});
{% endblock %}
 
{% block main %}
<div class="catname">{{ category.name|capfirst }}</div>
<div class="catdesc">{{ category.description }}</div>
<div id="clear"></div>

<table id="product_list">
{% for product in products %}
<tr id="prodrow{{product.pk}}" class="{% cycle 'prodrow_odd' 'prodrow_even' %}">
		<td style="text-align: center;"> <img src="{% get_media_prefix %}{% if product.image %}{{product.image}}{% else %}blank.png{% endif %}"/></td>
		<td> <a href="/product/{{ product.pk }}">{{ product.name|capfirst }}</a> </td>
		<td> {{ product.tagline }} </td>
		<td> {{ product.stock }} in stock</td>
		<td> {{ product.price }} kr</td>
		<td style="text-align: right;"> <button class="buyproduct" id="{{product.pk}}">Buy</button> </td>
	</tr>
	<!--  http://stackoverflow.com/questions/8106230/django-refresh-page-if-change-data-by-other-user -->
{% endfor %}
</table>
{% endblock %}
