{% if comments %}
	<script>
	// Handle clicking reply
	$(".commentreply").click( function(event) {
		event.preventDefault();
		alert("You want to reply to comment #" + this.id);
	});

	// Color each comment a differently from its neigbours
	$("[id=comment]").each( function(index, element) {
		if (index%2 == 0) {
			$(this).attr("class", "comment_odd");
		} else {
			$(this).attr("class", "comment_even");
		}
	});
	</script>
	{{ comments|safe }}
{% else %}
<div id="clear"></div>
<div style="padding-left: 5px;">
	No comments yet
</div>
{% endif %}
