{% if comments %}
	<script>
	// Handle clicking reply
	$(".commentreply").click( function(event) {
		event.preventDefault();
		$(".replytobox").show();
		$(".replytobox").attr("id", this.id); // Set id of the comment box to the commentID that is replied to
		// this.id = commentid
		$(".replytobox").css( {
			left: $(this).position().left - $(".replytobox").width()/2,
			top: $(this).position().top + 20,
		});
	});

	// Close reply-to box
	$(".closereplyto").click( function(event) {
		$(".replytobox").hide();
		$("#replycomment_content").val("");
	});

	$(".submitreplycomment").click( function(event) {
		var productID = $(".commentsection").attr("id");
		var commentID = $(".replytobox").attr("id");
		var url = "/ajax/comments/add/" + productID + "/" + commentID;
		var comment = $("#replycomment_content").val();
		$.post(url, {'comment': comment}, function(data) {
			if (data == "OK")
			{
				$(".replybox").hide();
				$("#replycomment_content").val("");
				$(".commentsection").load("/ajax/comments/" + productID);
			}
			else
			{
				alert(data);
			}
		});
	});

	// Color each comment a differently from its neigbours
	$("[id=comment]").each( function(index, element) {
		if (index%2 == 0) {
			$(this).attr("class", "comment_odd");
		} else {
			$(this).attr("class", "comment_even");
		}
	});

	{% if not user.is_authenticated %}
	$(".commentreplyto").each( function(index, element) {
		$(this).hide();
	});
	{% endif %}
	</script>
	{{ comments|safe }}
{% else %}
<div id="clear"></div>
<div style="padding-left: 5px;">
	No comments yet
</div>
{% endif %}

<div class="replytobox">
	    <textarea id="replycomment_content" rows="5" cols="31"></textarea>
		<div id="clear"></div>
		<div style="float: right;">
			<button class="closereplyto">Close</button>
			<button class="submitreplycomment" id="{{ asset.pk }}">Reply</button>
		</div>
</div>
