{% extends 'base.html' %}

{% block js_docready %}
$(".buyproduct").click( function() {
	$.get("/ajax/addproduct/" + this.id, function(data) 
	{
		if (data == "OK")
		{
			$(".buyproduct").effect("transfer", {to: $(".arrowicon")}, 750);
		}
		else
		{
			alert(data);
		}
    });
});

$(".do_grade").click( function() {
	rating = $("#grade").val();
	url = "/ajax/addrating/" + this.id + "/" + rating;
	$.get(url, function(data)
	{
		if (data == "Denied")
		{
			alert("You have already rated this product");
		}
		else
		{
			alert("Thank you for voting!"); // TODO: Something other than alert()
		}
	});
});

$(".addcomment").click( function() {
	$(".newcomment").toggle();
});

$(".submitcomment").click( function() {
	url = "/ajax/comments/add/" + this.id;
	comment = $("#newcomment_content").val();
	$.post(url, {'comment': comment}, function(data) {
		if (data == "OK")
		{
			location.reload();
		}
		else
		{
			alert(data);
		}
	});
});

//class="commentsection" id="{{ asset.pk }}
id = $(".commentsection").attr("id");
$(".commentsection").load("/ajax/comments/" + id);
{% endblock %}

{% block main %}
<h1>{{ asset.name|capfirst }}</h1>
<h2>{{ asset.description }}</h2>

{% if asset.image %}
{% load static %}
<img src="{% get_media_prefix %}/{{ asset.image }}" />
{% endif %}

<p> This is where the detailed description will go once it is enabled</p>
<p>(and an image should go somewhere too)</p>

<p>{{ asset.price }} kr</p>
<button class="buyproduct" id="{{ asset.pk }}">Buy</button>


<div id="rating">
	<h3>Rating</h3>
{% if rating %}
Grade: {{ rating.0 }} ({{rating.1}} votes)
{% else %}
This product has no rating yet
{% endif %}
</div>
<!-- TODO: Only show this for logged in users -->
<p>Rate this product:<select id="grade">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	<button class="do_grade" id="{{ asset.pk }}">Rate</button>
</p>
<hr/>
<div class="commenttitle">Comments</div>
<div class="addcomment" id="{{ asset.pk }}">
	<a href="javscript:void();">Add comment</a>
</div>
<div class="newcomment">
	<textarea id="newcomment_content" rows="7" cols="71"></textarea>
	<button class="submitcomment" id="{{ asset.pk }}">Comment</button>
</div>
<div class="commentsection" id="{{ asset.pk }}">
	Loading comments...
</div>
{% endblock %}
