{% extends 'base.html' %}

{% block js_docready %}
$(".buyproduct").click( function() {
	$.get("/ajax/addproduct/" + this.id, function(data) 
	{
		if (data == "OK")
		{
			$(".productpurchase").effect("transfer", {to: $(".arrowicon")}, 750);
		}
		else
		{
			alert(data);
		}
    });
});

$(".do_grade").click( function() {
	rating = $("#grade").val();
	url = "/ajax/addrating/" + this.id + "/" + rating;
	$.get(url, function(data)
	{
		if (data == "Denied")
		{
			alert("You have already rated this product");
		}
		else
		{
			alert("Thank you for voting!"); // TODO: Something other than alert()
			location.reload();
		}
	});
});

$(".addcomment").click( function(event) {
	event.preventDefault(); /* Don't follow href */
	$(".newcomment").toggle();
});

$(".submitcomment").click( function() {
	url = "/ajax/comments/add/" + this.id;
	comment = $("#newcomment_content").val();
	$.post(url, {'comment': comment}, function(data) {
		if (data == "OK")
		{
			$(".newcomment").hide(); /* Hide the comment box */
			$("#newcomment_content").val(""); /* Reset the comment field */
			$(".commentsection").load("/ajax/comments/" + id); /* Update the comment area */

		}
		else
		{
			/* There was a problem adding the comment, display error dialog */
			alert(data);
		}
	});
});


id = $(".commentsection").attr("id");
$(".commentsection").load("/ajax/comments/" + id);
{% endblock %}

{% block main %}
<div class="catname">{{ asset.name|capfirst }}</div>
<div class="catdesc">{{ asset.tagline }}</div>

{% if asset.image %}
{% load static %}
<div id="clear"></div>
<img class="productimg" src="{% get_media_prefix %}/{{ asset.image }}" />
{% endif %}

<div class="productdescription">
	{{ asset.description }}
</div>
<div id="clear"></div>

<div class="productrating">
	<h3>Rating</h3>
	{% if rating %}
	Grade: {{ rating.0|floatformat }} ({{rating.1}} votes)
	{% else %}
	This product has no rating yet
	{% endif %}
	{% if user.is_authenticated %}
		<p>Rate this product:
			<select id="grade">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<button class="do_grade" id="{{ asset.pk }}">Rate</button>
		</p>
	{% endif %}
</div>

<div class="productpurchase">
	<h3>Buy this product</h3>
	<strong>{{ asset.price }} kr</strong>
	<button class="buyproduct" id="{{ asset.pk }}">Buy</button>
</div>
<div id="clear"></div>


<hr/>
<div class="commenttitle">Comments</div>
{% if user.is_authenticated %}
<div class="addcomment" id="{{ asset.pk }}">
	<a href="javascript:void();">Add comment</a>
</div>
<div class="newcomment">
	<textarea id="newcomment_content" rows="7" cols="71"></textarea>
	<button class="submitcomment" id="{{ asset.pk }}">Comment</button>
</div>
{% endif %}
<div class="commentsection" id="{{ asset.pk }}">
	Loading comments...
</div>
{% endblock %}
