{% extends 'base.html' %}

{% block js_docready %}
$(".buyproduct").click( function() {
	$.get("/ajax/addproduct/" + this.id, function(data) 
	{
		if (data == "OK")
		{
			$(".buyproduct").effect("transfer", {to: $(".arrowicon")}, 750);
		}
		else
		{
			alert(data);
		}
        // TODO: Check for "OK"
    });
});
{% endblock %}

{% block main %}
<h1>{{ asset.name|capfirst }}</h1>
<h2>{{ asset.description }}</h2>

<p> This is where the detailed description will go once it is enabled</p>
<p>(and an image should go somewhere too)</p>

<p>{{ asset.price }} kr</p>
<button class="buyproduct" id="{{ asset.pk }}">Buy</button>

{% endblock %}
